body
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
	font-weight:300;
	font-size: 12px;
	color:#777;
	background:#0CF;
}
    
/*About*/

.about
{
padding-top: 100px;
padding-bottom: 50px;

}
.nav-bar
{
    top: 0;
    position: sticky;
    z-index: 2;
}

.navbar 
{
    background-color: #000;
}
.navbar-brand img
{
    height: 50px;
}

.nav-link
{
    color: #fff !important;

}

.contact
{
    padding-top: 50px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../home.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
}

.contact row
{
    padding: 30px 0;
    font-size: 22px;
}
.contact .col-md-4 .fa
{
    padding: 10px;
    font-size: 40px;

}

.contact .btn
{
    padding: 10px 25px 10px 25px;
    margin: 5px;
    border-radius: 30px;
    border: 2px solid #fff;
    background: transparent;
}

.contact .btn:focus
{
    box-shadow: none !important;
}

.contact .btn:hover
{
    border: 2px solid #000 !important;
    background: #000 !important;
    transition: 0.6s;
}

.contact .btn .fa
{
    margin-right: 10px;
}

.footer
{
    background: #000;
    height: 95px;
    margin-top: 50px;
    color: #fff;
    padding-top: 10px;
    margin-bottom: 0px;
}

.fa-heart-o
{
    color: red;
}

.container {
	width:100%;
	margin:0;
	position:relative;
    place-items: center;
    }

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#contact {
	background: cadetblue;
	padding:30px;
	margin: 0;
}

#contact h3 {
	color: black;
	display: block;
	font-size: 30px;
	font-weight: 400;
	text-align: center;
}

#contact h4 {
	text-align: center;
	margin:5px 0 15px;
	display:block;
	font-size:13px;
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
	width:100%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid cadetblue;
}

#contact textarea {
	height:100px;
	max-width:100%;
  resize:none;
}

#contact button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background:#0CF;
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
}

#contact button[type="submit"]:hover {
	background:#09C;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
} 

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
	outline:0;
	border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}

